<div class="container col-lg-10">
  <label class="col-form-label labal">Events</label>
  <input type="text" class="form-control inputline" placeholder="Search Event" name="event" id="event" list="eventList">
  <datalist id="eventList" name="eventList" >
  </datalist>
<table class="table table-striped">
  <thead>
    <th>Time</th>
    <th>Event</th>
    <th>Location</th>
    <th>Create <br />scenario</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventList; let i = index">
      <td class="col-md-2">{{event.date}}</td>
      <td class="col-md-4">{{event.description}}</td>
      <td class="col-md-2">{{event.location}}</td>
      <td class="col-md-1"><span class="glyphicon glyphicon-share-alt"></span></td>
    </tr>
  </tbody>
</table>
</div>
